
@import './variables';
@import './navbar';
@import './registration';
@import './app';

body,html {
    background-color: $primaryBg !important;
    color: $primaryText !important;
}
table, td, th {
    color: $primaryText !important; 
}